@import "~bootstrap/scss/bootstrap";

.time {
  height: 2em;
  background-color: var(--bs-primary);
  transition: width 1s;
}

@include media-breakpoint-down(lg) {
  .time-bar {
    height: 15em;
  }
}
@include media-breakpoint-up(lg) {
  .time-bar {
    height: 30em;
  }
}
@include media-breakpoint-up(xxl) {
  .time-bar {
    height: 45em;
  }
}

.number {
  font-size: 5em;
}
