$enable-validation-icons: false;

@import "~bootstrap/scss/bootstrap";

.time {
  height: 2em;
  transition: width 1s, background-color 1s;
}

.time-unit-bar .col {
  transition: height 1s, background-color 1s;
}

.time-input {
  padding-left: 1.6em;
}

@include media-breakpoint-down(lg) {
  .time-unit-bar {
    height: 15em;
  }
}
@include media-breakpoint-up(lg) {
  .time-unit-bar {
    height: 30em;
  }
}
@include media-breakpoint-up(xxl) {
  .time-unit-bar {
    height: 45em;
  }
}

.number {
  font-size: 5em;
}

@keyframes empty-bar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.deplete {
  height: 2em;
  animation: empty-bar 1s;
  animation-timing-function: linear;
}
